.content {
    display: flex;
    flex-wrap: wrap;
    width: var(--content_width);
    min-height: calc(100vH - 124px);
    background-color: var(--base_background_color_light);
    margin: var(--content_margin);
    padding: 30px 15px 30px 15px;
    .article_wrapper {
        flex: 1 1 auto;
        width: 29%;
        margin: 0 15px 50px 15px;
    }
}