.article_content {
    .article_image_wrapper {
        margin: 0 0 10px 0;
        .article_image {
            img {
                display: block;
                width: 100%;
            }
            
        }
    }
}
.article_footer {
    .article_category {
        font-size: 10px;
        color: var(--base_title_text);
        margin: 0 0 10px 0;
    }
    .article_title {
        font-size: 14px;
        font-weight: 700;
        color: var(--base_color_text);
        margin: 0 0 10px 0;
    }
    .article_price {
        font-size: 14px;
        font-weight: 700;
        color: var(--base_title_text);
    }
}
